 /* Website Banner */
#banner {
  padding: 10px;
  text-align:  center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  font-family:Arial;
}

 /* Navigation bar */
.topnav  {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 0;
}

 /* Span Elements  for Nav bar */
span {
  width: 1000px;
  height: 45px;
}

/* Book elements */
#progress_book_title {
  text-align:center;
}

/* Progres bar  */
.progress
{
position:absolute;
width: 20%;
bottom:0px;
margin-left: 600px;
}

